@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

.container{
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 30px;
    background: radial-gradient(circle, rgba(58,86,159,1) 29%, rgba(2,51,116,1) 98%);
}

.links a{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

.links a:hover{
    color: #d5d5d5;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 50%;
    text-align: left;
}

.content-box h2{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
}

.content-box h1{
    color: #fff;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 35px;
    line-height: 40px;
}

.content-box a{
    font-size: 1em;
    color: #fff;
    background: rgb(2, 112, 146);
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 19px;
    margin: 10px 0;
    text-decoration: none;
    transition: 0.3s;
}

.content-box a:hover{
    background: #fff;
    color: rgb(2, 112, 146);
}


.sci{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
}

.sci li{
    list-style: none;
}

.sci li a{
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.sci li a i{
    transition: 0.3s;
}

.sci li a i:hover{
    transform: translateY(-10px);
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.circle{
    position: relative;
    width: 350px;
    height: 345px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle {
    border: 3px solid #59fff7;
    box-shadow: 0 0 50px rgba(48, 255, 238, 0.3);
    animation: rotate 10s linear infinite;   
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
    }

    .content{
        width: 100%;
        text-align: center;
    }

    .right{
        width: 100%;
    }

    .circle{
        width: 250px;
        height: 245px;
    }
    
}